@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

td:first-child,
tr:first-child {
  border-radius: 20px 0 0 20px;
}
td:last-child,
tr:last-child {
  border-radius: 0 20px 20px 0;
}

input,
select {
  background: #fff !important;
}

input:focus,
select:focus {
  outline: none !important;
  border: black solid 1px !important;
  --tw-ring-color: transparent !important;
}
